<!DOCTYPE html>
<html>
<head>
<title>File Encoding Sorter</title>
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline' https://code.jquery.com https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js https://cdnjs.cloudflare.com https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js;">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='FileEncodingSorter/script.js') }}"></script>
    <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='FileEncodingSorter/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='menu.css') }}">

</head>
<body>
<div class="menu-button">
    <a href="https://ruslan-dff.pro/">
        <img src="{{ url_for('static', filename='interface/home_button.png') }}" alt="Menu Button">
    </a>
</div>
    <header class="rh8nkv-0 hoywjo">
<div class="rh8nkv-1 llspIR">
            <h1 class="rh8nkv-2 fHlUjz">File Encoding Sorter</h1>
            <h2 class="rh8nkv-6 fvIoRp">ワンクリックでドキュメントをコーディング別に整理！</h2>
        </div>
        <div class="rh8nkv-3 gcKsMX" id="file-drop-area">
            <div class="fp19qh-0 cjZeTl">
                <div class="tbjvbz-0 kYTCXp">
                    <div class="tbjvbz-1 dVwpTd">
                        <div class="flex-container sc-10126gd-0 dHiqbD" id="__cond-705618">
                            <label class="sc-8s01yt-0 deyfvp">
                                <div data-test-id="intro-tool-droparea" class="sc-7sg2r-0 QrMRD">
                                    <div class="sc-7sg2r-1 bFabPl"></div>
                                    <div class="sc-8s01yt-1 vma-Dc">
                                        <form class="sc-16z3mvs-1 GbsEV" method="post" enctype="multipart/form-data" action="{{ url_for('file_encoding_sorter') }}">
    <label class="sc-16z3mvs-2 dAA-dEm">
        <input type="file" name="file" accept=".txt" class="hidden-input sc-16z3mvs-0 kbLfHX" multiple>
        <div class="sc-8s01yt-2 fLFedC">
            <div class="sc-8s01yt-4 GrhAj">
                <div class="sc-2xfn8l-0 bWaBkl sc-1ohxvl7-0 kvbqhA">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 96 60">
                        <!-- Здесь должен быть ваш код SVG-иконки -->
                    </svg>
                </div>
            </div>
            <div class="l3tlg0-6 kkceuK">
                <button type="button" class="l3tlg0-0 ggoliT" onclick="document.querySelector('.sc-16z3mvs-0.kbLfHX').click();">
    <div class="sc-2xfn8l-0 bWaBkl sc-2wite4-0 itDlvX">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <!-- Ваш код SVG-иконки -->
        </svg>
    </div>
    <span class="sc-8s01yt-5 gGeCVP">ファイルの選択</span>
</button>
            </div>
            <div class="sc-8s01yt-3 eJIBCe">またはここにファイルをドラッグします</div>
        </div>
    </label>
</form>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

<div class="advanced-options">
  <h3 onclick="expandMenu()">👉Advanced Options👈</h3>
  <div class="content">
    <label for="fix-encoding">Fix incorrect encodings</label>
    <input type="checkbox" id="fix-encoding" name="fix-encoding">
    <label for="corrected-files-in-a-separate-folder">Place the corrected files in a separate folder</label>
    <input type="checkbox" id="corrected-files-in-a-separate-folder" name="corrected-files-in-a-separate-folder" disabled>
    <label for="file-correction-only">File correction only (no sorting)</label>
    <input type="checkbox" id="file-correction-only" name="file-correction-only">
  </div>
</div>





<div class="flash-messages">
    <!-- Здесь выведем flash-сообщения -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash-messages-list">
                {% for category, message in messages %}
                    <li class="flash-message {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>



<!-- Панель появления ссылки на скачку архива -->
 <div class="mytextlogfile" id="log">
    {% for message in messages %}
        <div class="log-entry">{{ message }}</div>
    {% endfor %}
</div>



<!-- Ваш код для кнопки "Start sorting" -->
<a class="iksweb" href="#" title="Start sorting" id="start-sorting">Start sorting</a>


<div id="questionAnswerSection" class="section section-2 even">
<h2 class="title">質問と回答</h2>
<div class="content container">
<div class="qas" itemscope="" itemtype="https://schema.org/FAQPage">
<div class="qa" itemscope="" itemprop="mainEntity" itemtype="http://schema.org/Question">
<h3 class="question" itemprop="name">ファイルを整理する方法は?</h3>
<div class="answer" itemscope="" itemtype="http://schema.org/Answer" itemprop="acceptedAnswer">
<div itemprop="text">
<ol>
<li>拡張子が .txt のファイルの一覧を準備します。</li>
<li>その後、ファイル選択ボタンをクリックするか、ファイルを手動で緑の領域にドラッグアンドドロップします。</li>
<li>すべてのファイルをサーバーにアップロードしたら、"ソートの開始"ボタンをクリックしてファイルをダウンロードできます。</li>
</ol>
</div>
</div>
</div>
<div class="qa" itemscope="" itemprop="mainEntity" itemtype="http://schema.org/Question">
<h3 class="question" itemprop="name">ファイルのソートプロセスはどのように行われますか？</h3>
<div class="answer" itemscope="" itemtype="http://schema.org/Answer" itemprop="acceptedAnswer">
<div itemprop="text">
<ol>
<li>ファイルはサーバーにアップロードされ、処理待ちの状態になります。</li>
<li>スクリプトをアクティブ化すると、ファイルはトレーニングされたエンコード検出機を使用して分析および識別されます。</li>
<li>ファイルが識別されたら、スクリプトはそれらをエンコードに基づいて生成されたフォルダに配置します。</li>
<li>すべてのファイルがそれぞれのエンコードに対応するフォルダにソートされた後、スクリプトはすべてのフォルダをアーカイブに入れ、ダウンロードリンクを生成します。</li>
</ol>
</div>
</div>
</div>
<div class="qa" itemscope="" itemprop="mainEntity" itemtype="http://schema.org/Question">
<h3 class="question" itemprop="name">どの種類のファイルをソートできますか？</h3>
<div class="answer" itemscope="" itemtype="http://schema.org/Answer" itemprop="acceptedAnswer">
<div itemprop="text">
<p>現時点では、.txt形式のテキストファイルのみをサポートしていますが、スクリプトの改良の過程で他の種類のファイルも順次追加される予定です。</p>
</div>
</div>
</div>
<div class="qa" itemscope="" itemprop="mainEntity" itemtype="http://schema.org/Question">
<h3 class="question" itemprop="name">File Encoding Sorterを使用するのは安全ですか？</h3>
<div class="answer" itemscope="" itemtype="http://schema.org/Answer" itemprop="acceptedAnswer">
<div itemprop="text">
<p>ファイルとデータのセキュリティには非常に真剣に取り組んでいます。したがって、セキュリティの問題に常に取り組んでいます。</p>
<ol>
<li>すべてのファイル転送は暗号化されています。</li>
<li>アップロードされたすべてのファイルは、処理後24時間以内に自動的に処理サーバーから削除されます。</li>
<li>各ユーザーのためにセッションフォルダが個別に作成されるため、異なるユーザーによってアップロードされたファイルが混在することを防ぎます。</li>
<li>また、将来的にはこのアプリケーションのデスクトップバージョンをリリースする予定です。このプログラムはオフラインで動作するため、すべてのファイルはコンピュータ上に残ります。</li>
</ol>
</div>
</div>
</div>
<div class="qa" itemscope="" itemprop="mainEntity" itemtype="http://schema.org/Question">
<h3 class="question" itemprop="name">ソート以外の機能の追加は計画されていますか？</h3>
<div class="answer" itemscope="" itemtype="http://schema.org/Answer" itemprop="acceptedAnswer">
<div itemprop="text">
<p>はい、現在、不正確なエンコードでファイルを修正するための特別な機能を作成中です。これにより、コンテンツが正しく表示されないドキュメントを読むことができるようになります。</p>
</div>
</div>
</div>
<div class="qa" itemscope="" itemprop="mainEntity" itemtype="http://schema.org/Question">
<h3 class="question" itemprop="name">Mac、Linux、またはスマートフォンでFile Encoding Sorterを使用できますか？</h3>
<div class="answer" itemscope="" itemtype="http://schema.org/Answer" itemprop="acceptedAnswer">
<div itemprop="text">
<p>はい、File Encoding Sorterはインターネットにアクセスできるすべてのシステムで使用できます。ChromeなどのWebブラウザを開いて、File Encoding Sorterを使用します。追加のソフトウェアのインストールは必要ありません。</p>
</div>
</div>
</div>
<div class="qa" itemscope="" itemprop="mainEntity" itemtype="http://schema.org/Question">
<h3 class="question" itemprop="name">File Encoding Sorterをインターネットに接続せずにオフラインで使用できますか？</h3>
<div class="answer" itemscope="" itemtype="http://schema.org/Answer" itemprop="acceptedAnswer">
<div itemprop="text">
<p>File Encoding Sorterをオフラインで使用するオプションは、将来のデスクトップバージョンで提供される予定です。Webバージョンはインターネットに接続されている場合にのみ動作します。</p>
</div>
</div>
</div>
<div class="mt2">
<a class="plus" href="https://ruslan-dff.pro/#contact">新しい質問をする</a>
</div>
</div>
</div>
</div>

<script>

// Только лог
// Функция для загрузки лога сообщений при загрузке страницы
document.addEventListener('DOMContentLoaded', function() {
    // Получаем сохраненный лог из localStorage
    const log = localStorage.getItem('log');

    // Проверяем, есть ли сохраненный лог
    if (log) {
        // Найдем элемент с классом "mytextlogfile"
        const logContainer = document.querySelector('.mytextlogfile');

        // Устанавливаем содержимое элемента равным сохраненному логу
        logContainer.innerHTML = log;
    }
});

// Функция для очистки лога при загрузке страницы
document.addEventListener('DOMContentLoaded', function() {
    // Удаляем сохраненный лог из localStorage
    localStorage.removeItem('log');

    // Найдем элемент с классом "mytextlogfile"
    const logContainer = document.querySelector('.mytextlogfile');

    // Очищаем отображаемый лог сообщений на странице
    logContainer.innerHTML = '';
});
// Только лог end


// Обработчик изменения файла
document.querySelector('.sc-16z3mvs-0.kbLfHX').addEventListener('change', function() {
    // Получаем текущий элемент ввода файла
    var fileInput = this;

    // Проверяем, что пользователь выбрал файл
    if (fileInput.files.length > 0) {
        // Разрешенные расширения файлов
        var allowedExtensions = ['txt'];

        // Перебираем все выбранные файлы
        for (var i = 0; i < fileInput.files.length; i++) {
            // Получаем информацию о выбранном файле
            var file = fileInput.files[i];

            // Получаем расширение выбранного файла и приводим его к нижнему регистру
            var fileExtension = file.name.split('.').pop().toLowerCase();

            // Проверяем, соответствует ли расширение разрешенным
            if (allowedExtensions.indexOf(fileExtension) === -1) {
                // Выводим предупреждение, если расширение не разрешено
                alert('Only files with the extension .txt are allowed');
            } else {
                // Создаем новый объект FormData и добавляем файл
                var formData = new FormData();
                formData.append('file', file);

                // Создаем новый объект XMLHttpRequest
                var xhttp = new XMLHttpRequest();

                // Определяем функцию, которая будет вызвана при изменении состояния запроса
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        // Запрос успешно выполнен и ответ получен
                        console.log(this.responseText);

                        // Обновляем пользовательский интерфейс для отображения сообщения об успешной загрузке
                        var messageBox = document.getElementById('log'); // замените 'messageBox' на идентификатор элемента, в котором должно отображаться сообщение
                        if (messageBox) {
                            messageBox.textContent = 'File uploaded successfully';
                        }
                    }
                };

                // Отправляем POST-запрос на URL /file_encoding_sorter с файлом в качестве данных формы
                xhttp.open("POST", "/file_encoding_sorter", true);
                xhttp.send(formData);
            }
        }
    }
});


</script>


<script>
<!-- Как браузер реагирует на перенос файлов в область загрузки -->

function handleFiles(files) {
    for (const file of files) {
        if (file) {
            const allowedExtensions = ['txt'];
            const fileExtension = file.name.split('.').pop().toLowerCase();

            if (allowedExtensions.indexOf(fileExtension) === -1) {
                alert('Only files with the extension .txt are allowed');
            } else {
                // Создаем новый объект FormData и добавляем файл
                const formData = new FormData();
                formData.append('file', file);

                // Создаем новый объект XMLHttpRequest
                var xhttp = new XMLHttpRequest();

                // Определяем функцию, которая будет вызвана при изменении состояния запроса
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        // Запрос успешно выполнен и ответ получен
                        console.log(this.responseText);

                        // Обновляем пользовательский интерфейс для отображения сообщения об успешной загрузке
                        var messageBox = document.getElementById('log'); // замените 'messageBox' на идентификатор элемента, в котором должно отображаться сообщение
                        if (messageBox) {
                            messageBox.textContent = 'File uploaded successfully';
                        }
                    }
                };

                // Отправляем POST-запрос на URL /file_encoding_sorter с файлом в качестве данных формы
                xhttp.open("POST", "/file_encoding_sorter", true);
                xhttp.send(formData);
            }
        }
    }
}


const fileDropArea = document.getElementById('file-drop-area');

if (fileDropArea) {
    // Обработчик события dragover (когда файл находится над областью)
    fileDropArea.addEventListener('dragover', function (e) {
        e.preventDefault();
    });

    // Обработчик события dragleave (когда файл перетаскивают из области)
    fileDropArea.addEventListener('dragleave', function (e) {
        e.preventDefault();
        fileDropArea.style.border = 'none';
    });

    // Обработчик события drop (когда файл отпускают в область)
fileDropArea.addEventListener('drop', function (e) {
    e.preventDefault(); // Предотвращаем браузерное действие по умолчанию
    fileDropArea.style.border = 'none';

    const files = e.dataTransfer.files;
    handleFiles(files);  // Загружаем файлы на сервер, но не запускаем сортировку
});
}

<!-- Как браузер реагирует на перенос фвйлов в область загрузки  конец -->


</script>


</body>
</html>
